{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ni idea{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="title-container">
            <i class="fas fa-otter otter-icon"></i>
            <p class="fun-title">Ni idea</p>
        </div>
        
        <div class="nav-links">
            <a href="{% url 'login' %}">
                <i class="fas fa-home"></i>
                Inicio
            </a>
            <a href="{% url 'post_list' %}">
                <i class="fas fa-book-open"></i>
                Publicaciones
            </a>
            <a href="{% url 'post_create' %}">
                <i class="fas fa-book-medical book-medical-icon"></i>
                Crear Libro
            </a>
        </div>
        
        <div class="logo-container">
            <a href="{% url 'logout' %}" class="sign-out-btn">
                Cerrar sesión
            </a>
        </div>
    </nav>
    
    <div class="content">
        {% block content %}
        {% endblock %}
        <h1>¡Biblioteca Ni idea!</h1>
        <p>EL NUEVO MUNDO DE LOS LIBROS DESCUBRE TU EXPERIENCIA BIENVENIDO.</p>
    </div>
</body>
</html>